body			{ background: #eee; }
a				{ text-decoration: none }
a, h1, h2		{ color: #377BA8; }
h1, h2			{ margin: 0; }
h1				{ border-bottom: 2px solid #eee; }
h2				{ font-size: 1.2em; }
table			{ font-family: ו; font-size: 1em; font-weight: normal; color: #377BA8 }

.page			{ margin: 1em auto; width: 30em; border: 5px solid #ccc; padding: 0.8em; background: white; }
.guide_page		{ margin: 1em auto; width: 45em; border: 5px solid #ccc; padding: 0.8em; background: white; }
.my_form, h3	{ font-family: ו; font-size: 1em; font-weight: normal; color: #377BA8; line-height: 1.6; }
.logout 		{ text-align: right; font-size: 0.9em; padding: 0.3em; margin-bottom: 1em; background: #fafafa; }
.flash			{ background: #CEE5F5; padding: 0.3em; border: 1px solid #AACBE2; }
.error			{ background: #F0D6D6; padding: 0.3em; }