{% extends "layout.html" %}
<meta charset="utf-8">

{% block my_body %}
    <h2>添加新经纪人</h2>
    {% if error %}
        <p class=error><strong>出现错误:</strong> {{ error }}
    {% endif %}

    <form action="{{ url_for('add_ib_submit') }}" method=post>
        <dl>
            <dt>经纪人姓名:
            <dd>*<input type=text name=ib_name value={{ ib_info['ib_name'] }}>
            <dt>佣金账号:
            <dd><input type=text name=commission_account value={{ ib_info['commission_account'] }}>
            <dt>只读密码：
            <dd><input type=text name=password value={{ ib_info['password'] }}>
            <dt>投资账号：
            <dd><input type=text name=investment_account value={{ ib_info['investment_account'] }}>
            <dt>推荐人账号:
            <dd>*<input type=text name=referrer_account value={{ ib_info['referrer_account'] }}>
            <dt>推荐人姓名:
            <dd><input type=text name=referrer_name value={{ ib_info['referrer_name'] }}>
            <dd><input type=submit value=提交>
			<a href="{{ url_for('back_stage_management') }}">返回</a>
        </dl>
    </form>
{% endblock %}