<!doctype html>
<html lang="zh-Hans">
    <head>
        <meta charset="utf-8">
        <title>瑞投科技——佣金查询系统</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <div class=page>
			<div class=logo>
				<img src="static/logo.png">
			</div>

            {% for message in get_flashed_messages() %}
                <div class=flash>{{ message }}</div>
            {% endfor %}

            <div class=logout>
                {% if session.logged_in %}
                    <a href="{{ url_for('logout') }}">退出</a>
                {% endif %}
            </div>

            {% block my_body %}{% endblock %}

            <div class=swissquote_link>
                <br>
				<a href="static/open_account_guide.html"
                   target="_blank">Swissquote Bank 瑞讯银行_开户指南</a>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="static/open_account_guide_pepperstone.html"
                   target="_blank">激石集团_开户指南</a>
            </div>
        </div>
    </body>
</html>
