{% extends "layout.html" %}
<meta charset="utf-8">

{% block my_body %}
    <h2>欢迎登录：瑞投科技佣金查询系统</h2>
    {% if error %}
        <p class=error><strong>出现错误:</strong> {{ error }}
    {% endif %}

    <form class=my_form action="{{ url_for('login') }}" method=post>
        <dl>
            <dt>您的MT4佣金账号:
            <dd><input type=text name=account value={{ account }}>
            <dt>只读密码:
            <dd><input type=password name=password>
			<dt>&nbsp;
            <dd><input type=submit value=登录>
        </dl>
    </form>
{% endblock %}